.tab-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 2px 10px;
}
.tab-container img {
    width: 1.2rem;
    height: 1.2rem;
}

.tab {
    position: relative; 
    cursor: pointer;
    padding: 10px 15px;
    color: var(--secondarty-font-color);
    transition: color 0.3s ease; 
}

.tab-container.active {
    /* background-color: #4088E9; */
    background-color: var(--primary-light);
}
