.adding-buttons {
  display: flex;
  margin-top: 1.5rem;
  cursor: pointer;
  color: var(--light-blue);;
}

.action {
  margin-right: 2rem;
  border: 2px solid var(--light-blue);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.action:hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  color: white;
}