.category-container {
    margin-bottom: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
    width: 100%;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.category-title {
    font-size: 20px;
    font-weight: 600;
    color: #333; /* Dark text color */
    margin: 0;
}

.category-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.edit-btn {
    font-size: 14px;
    color: #6a6a6a; /* Lighter color for secondary action */
    cursor: pointer;
    background-color: #E6E8EA;
    transition: color 0.2s;
    padding: 0.4rem 0.7rem;
    border-radius: 15px;
}

.edit-btn:hover {
    color: #007bff; /* Blue hover for interaction */
}

.collapse-icon {
    font-size: 14px;
    font-weight: bold;
    color: #6a6a6a;
    cursor: pointer;
}

.bookmark-grid {
    display: grid;
    /* Create a responsive grid: minimum size of 200px per column */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px; /* Space between cards */
}



.collapse-icon img {
    width: 1rem;
    height: 1rem;
}