.collection-container {
    margin-bottom: 30px;
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
    width: 100%;
}

.collection-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.collection-title {
    font-size: 20px;
    font-weight: 600;
    color: #333; /* Dark text color */
    margin: 0;
}

.collection-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.add img {
    width: 100%;
    height: 100%;
}
.collection-actions .col-action {
    font-size: 14px;
    color: #6a6a6a; /* Lighter color for secondary action */
    cursor: pointer;
    transition: color 0.2s;
    border-radius: 15px;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    line-height: 1;
    border: 2px solid #E6E8EA;
}

.collection-container:hover .collection-actions .col-action {
    opacity: 1;
}

.collection-actions .add {
    padding: 5px;
}

.col-action:hover {
    border-color: #007bff;
}

.collapse-icon {
    font-size: 14px;
    font-weight: bold;
    color: #6a6a6a;
    cursor: pointer;
}

.bookmarks-constinar {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.collapse-icon img {
    width: 1rem;
    height: 1rem;
}

