.main-content-container {
  height: 100%;
  transition: padding 0.3s ease;
}

.category-input {
  border : 2px solid var(--light-blue);
  border-radius: 0.2rem;
  padding: 0.2rem 3rem;
  font-size: 1rem;
  right: 10px;
  width: 80%;
  height: 3rem;
}

.category-input:focus {
  outline: none;
  border: 2px solid var(--light-blue);
}

.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
}

.search-container .search-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
}

.path {
  margin-top: 1.7rem;
  font-size: 1.1rem;
  color: var(--font-color);
  margin-bottom: 1rem;
  display: flex;
  align-items: anchor-center;
  gap: 0.3rem;
  font-weight: 500;
}

.path img {
  width: 0.8rem;
  height: 0.8rem;
}

@media (max-width: 600px) {
  .search-container{
    width: 100%;
  }
  .category-input {
    width: 100%;
  }
}