#dashboard {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
}

#content-area {
    display: flex;
    overflow: hidden;
}

#main-content {
    flex-grow: 1;
    padding: 1rem;
    position: relative;
    overflow-y: auto;
    background-color: var(--background-color);
}