.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow:
  0 1px 2px rgba(0, 0, 0, 0.05),
  0 4px 12px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #e5e7eb;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu-toggle {
  width: 2.5rem;      
  height: 1.5rem;   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 0.25rem;   
  width: 90%;      
  background-color: #333;
  border-radius: 0.25rem; 
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* TOP BAR */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(0.625rem) rotate(45deg); 
}

/* MIDDLE BAR */
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px); 
}

/* BOTTOM BAR */
.menu-toggle.active span:nth-child(3) {
  /* Calculated for 1.5rem height */
  transform: translateY(-0.625rem) rotate(-45deg); 
}

.user-settings {
  font-size: 1.2rem;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bgd-sec-color);
  cursor: pointer;
}

/* Dropdown container */
.dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  width: 260px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 4px 12px rgba(0, 0, 0, 0.04);
  z-index: 100;
  animation: slideIn 0.2s ease-out forwards;
  transform-origin: top right;
}

/* User info */
.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

.email {
  font-size: 12px;
  color: #6b7280;
}

/* Divider */
.divider {
  height: 1px;
  background: #f1f5f9;
  margin: 4px 0;
}

/* Menu items */
.dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 14px;
  background: none;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  color: #374151;
  display: flex;
  gap: 10px;
}

.dropdown-item:hover {
  background: #f9fafb;
}

.dropdown-item span {
  font-size: 0.9rem;
}

/* Logout */
.logout {
  color: #dc2626;
}

.logout:hover {
  background: #fef2f2;
}

.dropdown img {
  width: 1.7rem;
  height: 1.7rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}