.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item a {
  margin: 0 1rem;
  color: rgb(92, 141, 172);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.nav-item a:hover {
  color: rgb(50, 100, 150);
}

.user-info {
  color: #333;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.nav-icon {
  height: 2rem;
  cursor: pointer;
}

.nav-icon.logo {
  height: 2.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.menu-toggle {
  width: 2.5rem;      
  height: 1.875rem;   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 0.25rem;   
  width: 100%;
  background-color: #333;
  border-radius: 0.25rem; 
  transition: all 0.4s ease-in-out;
}

/* TOP BAR */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(0.8125rem) rotate(45deg); 
}

/* MIDDLE BAR */
.menu-toggle.active span:nth-child(2) {
  width: 10%;
  margin: 0 auto;
  opacity: 0.8;
}

/* BOTTOM BAR */
.menu-toggle.active span:nth-child(3) {
  transform: translateY(-0.8125rem) rotate(-45deg); 
}
