.link-card {
    width: 100%; 
    height: 100%;
    padding: 12px;
    background-color: #fff;
    border: 1px solid #f0f0f0; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
    transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
}

.link-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.link-card .link {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    width: 100%;
}

.link-card .site-icon {
    margin-right: 10px; 
    width: 2.5rem;
    object-fit: contain; 
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.link-card .link-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
    
    /* Handle long titles */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.link-settings {
    position: absolute;
    top:2px;
    right: 5px;
}