:root {
    --primary-color: #2B3C63;
    --light-blue: #89C0E5;
    --primary-light: #4088E9; 
    --font-color:#828388;
    --secondarty-font-color: #EBF3F7;
    --error-color: #DF6159;
    --backdrop-darken-color: rgba(0, 0, 0, 0.75); 
    --background-color: #F0F3F6;
}

.App {
  text-align: center;
}

body {
  padding-top: 0;
}

* {
  box-sizing: border-box;
}