:root {
    --primary-color: #2B3C63;
    --light-blue: #89C0E5;
    --primary-light: #4088E9; 
    --font-color:#888;
    --secondarty-font-color: #EBF3F7;
    --error-color: #DF6159;
    --backdrop-darken-color: rgba(0, 0, 0, 0.75); 
    --background-color: #F0F3F6;
    --bgd-sec-color: #26365F;
}

.App {
  text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (the background area) */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Subtle grey */
  border-radius: 10px;
  border: 2px solid transparent; /* Creates a "floating" effect */
  background-clip: content-box;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}