body {
  margin: 0;
  padding-top: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.btn {
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  flex: 1;
}

.confirm-actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.btn-primary {
  background-color:  var(--primary-light);
  color: #fff;
}

.btn-cancel {
  background: #f3f4f6;
  color: #4b5563;
}

.btn-delete {
  background: #dc2626; /* Danger Red */
  color: white;
}

.btn-delete:hover { background: #b91c1c; }


@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}