.space-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 2px 10px;
}
.space-container img {
    width: 1.2rem;
    height: 1.2rem;
}

.space {
    position: relative; 
    cursor: pointer;
    padding: 10px 15px;
    color: var(--secondarty-font-color);
    transition: color 0.3s ease; 
}

.space-container.active {
    background-color: var(--primary-light);
}
