.space-container {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 2px 10px;
    justify-content: space-between;
    cursor: pointer;
}

.space-container .folder {
    width: 1.2rem;
    height: 1.2rem;
}

.space {
    position: relative; 
    padding: 10px 15px;
    color: var(--secondarty-font-color);
    transition: color 0.3s ease; 
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.space-container.active {
    background-color: var(--primary-light);
}

.space-container .settings {
    display: flex;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.space-container:hover .settings {
    opacity: 1;
}

.space-container .space-name {
    display: flex;
    align-items: center;
    flex: 1; 
    min-width: 0;
}